.Header {
  background-color: #1818a0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: white;
  padding: 1em;
}

.Header .Logo {
  height: 40px;
  pointer-events: none;
}

.Header .Title {
  height: 40px;
}

.Header .Header-title {
}

.Header .Header-functions {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.Header .Header-functions a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.Header .Header-function-separator {
  background: #d6d6d6;
  width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Header .Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 800px) {
  .Header .Title {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}