.Main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("plane-interior.jpg");
  background-size: cover;
  min-height: 500px;
}

.Main .Middle-content {
    display: flex;
    justify-content: center;
    flex-basis: 700px;
}
