.Flights {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
 }


.Flight {
  /* No Link styling */
  color:inherit;
  text-decoration: none;
  outline: none;
  /*******************/

  background: #f6f7fa;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #434343;
}

.Flight-path {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.No-flights {
  color: #eeeff2;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}


.Flight:hover {
  background: #f9f9f9;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.Date {
  font-weight: bold;
}

.Departure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 80px;
}

.Departure-time {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
}

.Departure-airport {
  font-size: 10px;
  text-align: center;
}

.Plane-icon {
  height: 60px;
}

.Plane-icon-small {
  display: none;
  height: 30px;
}

.Flight-time {
  border-bottom: darkgrey;
  border-bottom-style: dotted;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 700px) {
  .Flights {
    padding: 0;
    margin: 1px;
  }

  .Flight {
    margin-bottom: 1px;
  }

  .Flight-time {

  }

  .Flight-path {
    width: 30%;
  }


  .Plane-icon-small {
    display: block;
  }

  .Date-price {
    font-size: 15px
  }

  .Departure-time {

  }

  .Plane-icon {
    display: none;
  }
}