.Airports {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #eeeff2;
    margin: 10px;
    border-radius: 10px;
}

h2 {
    font-family: P22 Underground Pro,sans-serif;
    font-weight: 100;
    color: #1818a0;
}

.Airports-select {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}

.Select {
    width: 200px;
    cursor: pointer;
}

.Icon-Direction {
    height: 30px;
}

.Button-search {
    font-size: 17px;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: hsl(215, 9%, 43%);
    width: 150px;
    height: 35px;
    cursor: pointer;
}

.Button-search:hover {
    background: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
    .Airports {
        align-items: center;
    }

    .Airports-select {
        display: flex;
        flex-direction: column;
    }

    .Select {
        width: 250px;
    }

    .Button-search {
        margin-top: 10px;
        width: 200px;
    }

    .Icon-Direction {
        display: none;
    }

}