.Airports {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f6f7fa;
    border-radius: 5px;
}



.Airports .Airports-select {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}

.Airports .Select {
    width: 220px;
    cursor: pointer;
}

.Airports .direction {
    font-size: 20px;
}

.Airports .Button-search {
    font-size: 17px;
    background-color: hsl(319, 73%, 52%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: hsl(0, 0%, 100%);
    width: 150px;
    height: 35px;
    cursor: pointer;
}

.Airports .Button-search:hover {
    background: #c34fa4;
}

@media (max-width: 700px) {
    .Airports {
        align-items: center;
    }

    .Airports .Airports-select {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .Airports .Select {
        width: 100%;
    }

    .Airports .Button-search {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }

    .Airports .direction {
        display: none;
    }

}