.Selected-flight {
    background: #f6f7fa;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
}

.Selected-flight .Flight {
    background: #ededed;
    height: 100px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: #434343;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}



.Selected-flight .Departure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 80px;
}

.Selected-flight .Flight-path {
    color: #979797;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.Selected-flight .Departure-time {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 25px;
}

.Selected-flight .Departure-airport {
    color: #979797;
    font-size: 10px;
    text-align: center;
}

.Selected-flight .Plane-icon {
    height: 60px;
}

.Selected-flight .Plane-icon-small {
    display: none;
    height: 30px;
}

.Selected-flight .Flight-time {
    border-bottom: darkgrey;
    border-bottom-style: dotted;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.Selected-flight .bundles {
    display: flex;

}

.Selected-flight .bundle {
    background: #ededed;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    border-radius: 3px;
}

.Selected-flight .bundle:hover {
    cursor: pointer;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

.Selected-flight .bundle-selected {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

.Selected-flight .bundle-title {
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: #DE2BA5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.Selected-flight .bundle-details {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Selected-flight .bundle-features {
    font-size: 12px;
}

.Selected-flight .bundle-features ul {
    margin-left: 20px;
    padding: 0;
}

.Selected-flight .bundle-features li {
margin-bottom: 10px;
}

.Selected-flight .bundle-price {
    align-self: center;
    width: 90%;
    padding: 15px 0;
    text-align: center;
    border: 2px #a0a0a0 solid;
    border-radius: 3px;
    font-weight: bold;
    color: #1818a0;
}

.Selected-flight .Seats {
    width: 100%;
}

.Selected-flight .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}

.Selected-flight .seat-free {
    background: #77df00;
}

.Selected-flight .seat-taken {
    background: #a0a0a0;
}

.Selected-flight .seat-selected {
    background: #DE2BA5;
}

.Selected-flight .window {
    background: #7fc9ff;
    width: 5px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}

.Selected-flight .seat-free:hover {
   cursor: pointer;
}

.Selected-flight .seat-selected:hover {
    cursor: pointer;
}

.Selected-flight .seats-row {
    display: flex;
    flex-direction: row;
}

.Selected-flight .row-number {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.Selected-flight .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Selected-flight .summary-detail-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Selected-flight .button-continue {
    font-size: 17px;
    background-color: #DE2BA5;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: hsl(0, 0%, 100%);
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.Selected-flight .summary-detail-right {
    font-weight: bold;
}

.Selected-flight .button-continue:hover {
    background: #c34fa4;
}


@media (max-width: 700px) {

    .Selected-flight .Plane-icon-small {
        display: block;
    }

    .Selected-flight .button-continue {
        font-size: 20px;
        width: 100%;
    }

    .Selected-flight .Plane-icon {
        display: none;
    }

    .Selected-flight .bundles {
        flex-direction: column;
    }
}
